.App {
  text-align: center;
}
input{
  font-size: 24px;
  margin-top: 24px;
  width: 124px;
}
input + input{
  margin-left: 24px;
}
button{
  cursor: pointer;
  margin-top: 24px;
}
button + button{
  margin-left: 24px;
}